<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Ruta</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Ruta Óptima</h1>
    <p>Ruta: {{ ruta }}</p>
    <p>Tiempo Total: {{ tiempo }} minutos</p>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        function initMap() {
            var distribuidor = {{ distribuidor|tojson }};
            var farmacias = {{ ruta|tojson }};
            var map = L.map('map').setView([distribuidor[0], distribuidor[1]], 14);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([distribuidor[0], distribuidor[1]]).addTo(map).bindPopup('Distribuidor');

            farmacias.forEach((coords, index) => {
                L.marker([coords[0], coords[1]]).addTo(map).bindPopup('Farmacia ' + (index + 1));
            });

            var latlngs = [distribuidor].concat(farmacias);
            var polyline = L.polyline(latlngs, { 
                color: 'blue',
                weight: 8,
                opacity: 0.5,
                smoothFactor: 1.5
            }).addTo(map);

            map.fitBounds(polyline.getBounds());
        }

        window.onload = initMap;
    </script>
</body>
</html>
